body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightpink;
}

.navbar input{
    margin-left: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.navbar{
    position: fixed;
    top:0;
    text-align: center;
    width:100%;
    background-color: lightpink;
    padding:10px 0;
}
.navbar a{
   
    font-weight:bold;
}
.list{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 182, 193);
    padding: 12px;
    font-family: "montserrat";
    font-weight: bold;
    top:55px;
    position: fixed;
    width:100%;
}
.list a{
    text-decoration: none;
    color:rgb(102, 0, 51);
    text-decoration: underline;
}
.list a:hover{
    color: rgb(255, 20, 147);
}
.content{
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(126, 17, 89);
    background:radial-gradient(#fff,rgb(235, 149, 163));
    height: 60%;
    margin:20px;
    align-items: center;
    margin-top: 120px;
}
.img{
    flex-basis:50%;
    margin:30px;
    height:300px;
    margin-top: 40px;
}
.para{
    padding:30px;
    font-family:"source sans pro";
    font-size:20px;
    
}
.para h1{
    color:rgb(102, 8, 78);
}
.navbar a{
    text-decoration: none;
    color: rgb(15, 7, 7);
    margin: 0 15px;
}
h3{
    color: rgb(8, 8, 20);
    text-align:center;
    margin-top: 40px;
}
.deals h2 u{
    justify-content: center;
    font-family: "montserrat";

}
.products{
    display: flex;
    justify-content:space-around;
    margin: 20px;
    border-radius: 10px;
    flex-wrap:wrap;
}

.sale img{
    border-radius: 20px;
    height: 300px;
    width: 100%;
    margin-bottom:30px;
}
.sale h2{
    color: rgb(7, 6, 6);
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
    font-family:montserrat;
}
.content.shop{
    background-color: rgb(97, 27, 68);
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
.shop a{
    margin-top:30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
video{
    margin-left:80px;
    width:80%;
    height:70%;
    display: block;
    object-fit: cover;
}
.media{
    margin-top: 70px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tables{
    background-color: lightpink;
}
.tabs{
    display: flex;
    justify-content:space-around;
    margin: 20px;
    border-radius: 10px;
    flex-wrap:wrap;
}
.tab{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(87, 67, 41);
    color: bisque;
}
th,tr,td{
    border: 1px solid black;
    padding:10px;
}
button{
    display: block;
    background-color: rgb(230, 101, 127);
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    width:150px;
}
button a{
    text-decoration: none;
    color:black;
}
.review{
    justify-content: right;
    align-items: right;
    display: flex;
    margin: 20px;
}