body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    margin-top:10px;
    padding:60px;
    color: rgb(15, 7, 7);
    text-align: center;
    font-size: 20px;
    font-weight: bold; 
}


.content{
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(126, 17, 89);
    background:radial-gradient(#fff,rgb(235, 149, 163));
    height: 60%;
    margin:20px;
    align-items: center;
}
.img{
    flex-basis:50%;
    margin:30px;
    height:300px;
}
.para{
    padding:30px;
    font-family:"source sans pro";
    font-size:20px;
    
}
.para h1{
    color:rgb(102, 8, 78);
}
.navbar a{
    text-decoration: none;
    color: rgb(15, 7, 7);
    margin: 0 15px;
}
h3{
    color: rgb(8, 8, 20);
    text-align:center;
    margin-top: 40px;
}
.deals h2 u{
    justify-content: center;
    font-family: "montserrat";

}
.products{
    display: flex;
    justify-content:space-around;
    margin: 20px;
    border-radius: 10px;
    flex-wrap:wrap;
}

.sale img{
    border-radius: 20px;
    height: 300px;
    width: 100%;
    margin-bottom:30px;
}
.sale h2{
    color: rgb(7, 6, 6);
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
    font-family:montserrat;
}
.content.shop{
    background-color: rgb(97, 27, 68);
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
.shop a{
    margin-top:30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.media{
    display:flex;
    margin:auto;
    justify-content:space-around;
    margin: 20px;
    border-radius: 10px;
    flex-wrap:wrap;
}
.media audio{
    margin-top:70px;
}