body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(111, 161, 115);
}

.navbar{
    margin-top:10px;
    padding:60px;
    color: rgb(15, 7, 7);
    text-align: center;
    font-size: 20px;
    font-weight: bold; 
}

.content{
    font-family:montserrat;
    display:flex;
    flex-direction: column;
    font-size: 18px;
    color:black;
    justify-content: center;
    background-image: url("C:/Users/Mahi/OneDrive/Pictures/img8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    height: 80%;
    margin-left:20px;
    margin-right:20px;
}
.content.para{
    justify-content: left;
    margin-left: 20px;
    font-size: 25px;
}
.navbar a{
    text-decoration: none;
    color: rgb(15, 7, 7);
    margin: 0 15px;
}
h3{
    color: rgb(8, 8, 20);
    text-align:center;
    margin-top: 40px;
}
.products{
    display: flex;
    justify-content:space-around;
    margin: 20px;
    border-radius: 10px;
}
.products.img1{
    border-radius: 20px;
    height: 200px;
    width: 200px;
}   
.sale img{
    border-radius: 20px;
    height: 300px;
    width: 100%;
    margin-bottom:30px;
}
.sale h2{
    color: rgb(7, 6, 6);
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
    font-family:montserrat;
}
.shop{
    background-color: rgb(97, 27, 68);
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
.shop a{
    margin-top:30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}